<!-- <ion-header>
  <ion-toolbar>
    <ion-title>start</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class='con'>
      <div class='logo' [routerLink]="['/menu']" routerLinkActive="router-link-active" >
          <ion-img src="assets/output-onlinepngtools.png"></ion-img>
      </div>
    
      <div class='contento' style='text-align: center'>
          <ion-button style="width: 150px;" routerLink='/register' >Register</ion-button>
          <div style='clear: both;'></div>
          <ion-button style="width: 150px; --background: honeydew; color: #88001b; font-weight: bold; --border-radius: 30px" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</ion-button>
          <div style='clear: both;'></div>
          <br/>
      <!-- <a style='color: #88001b; text-decoration: none; font-size: 18px' [routerLink]="['/home']" routerLinkActive="router-link-active" >Skip</a> -->
    
      </div>
    
  </div>
  

</ion-content>
