.item1 {
    width: 100%;
    height: 100%;
    background-image: url('/assets/shopping-trolley.jpg'); 
    background-size: cover;
}
ion-button{
    --background: 	#638B18;
}
.cart{
    --background: 	#F29D0F;
}
.items {
    --background: 	#88001b;
}	