ion-header ion-toolbar:first-child {
    padding-top: 0;
}

.toolbar-container {
    background: #F29D0F;
}
.nots{
    --background: 	#88001b;
    --width: 20px 
}
.cart{
    --background: 	#F29D0F;
}
.items {
    --background: 	#88001b;
}
ion-tab-bar{
    overflow-x: scroll;
    justify-content: left;
}
// #searchInput{
//     display: none;

// }

