 <!-- <ion-grid style="background: #F29D0F;">
      <ion-toolbar style=" --background: #F29D0F;"> 
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/menu"></ion-back-button>
          </ion-buttons>
          <ion-title>Order Request</ion-title>
      </ion-toolbar>
    </ion-grid> -->
    <ion-header>
      <ion-grid style="background: #F29D0F;">
          <ion-row>
            <ion-col size="3">
              <ion-toolbar style="--background: #F29D0F;">
                  <ion-buttons slot="start">
                      <ion-menu-button autoHide="false"></ion-menu-button>
                  </ion-buttons>
              </ion-toolbar>
              <!-- menu -->
                
            </ion-col >
  
            <ion-col size="5">
                <div class='logo' [routerLink]="['/menu']" routerLinkActive="router-link-active" style="width: 35px; align-content: center; float: left; padding-top:12px;">
                  <ion-img src="assets/output-onlinepngtools.png" ></ion-img>
                  
              </div>
              <p style="padding-top:12px;">&nbsp;&nbsp;Markit</p>
            </ion-col>
            <ion-col size="2" style="padding-top: 5%;">
              <div style=" padding-top:10x; width:20px;">
              
                  <ion-icon  class="nots" style="font-size:25px;color:#88001b;"name="notifications"></ion-icon>
                
              </div>
                
            </ion-col >
            <ion-col size="2" style="padding-top: 5%;">
             
             </ion-col >
          </ion-row>
        </ion-grid>
      <!-- <ion-toolbar> -->
        
            <!-- <ion-img src="assets/arket.jpg"></ion-img> -->
            
            
        <!-- <a href='' [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
        <a href='' [routerLink]="['/start']" routerLinkActive="router-link-active" >Register</a> -->
      <!-- </ion-toolbar> -->
</ion-header>
<ion-content>
  <ion-card *ngFor="let request of  RequstList">
      <ion-card-header>
        <div style="cursor: pointer;"(click)="getAllrequestdetails(request.Req_ID)">
            <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <ion-card-subtitle>العنوان:{{request.ClientZone}}</ion-card-subtitle>
                  </ion-col>
                  <ion-col size="6">
                  <ion-card-subtitle>اسم العميل:{{request.Client_Name}}</ion-card-subtitle>
                  </ion-col>
                </ion-row>
              </ion-grid>
        </div>
      </ion-card-header>
     <ion-card-content *ngIf="flag==request.Req_ID">
        <form  #form="ngForm" (ngSubmit)="sendResponse(form)">
          <ion-grid>
            <ion-row style="border-bottom: groove;">
                <ion-col col-4>
                    <ion-label >التكلفه</ion-label>
                  </ion-col>
                <ion-col col-4>
                    <ion-label >الكميه المتاحه</ion-label>
                  </ion-col>
                  <ion-col col-4>
                    <ion-label >خصم</ion-label>
                  </ion-col>
                <ion-col col-4>
                    <ion-label >السعر</ion-label>
                  </ion-col>
              <ion-col col-4>
              <ion-label >التوافر</ion-label>
            </ion-col>
            <ion-col col-4>
              <ion-label >الكميه المطلوبه</ion-label>
            </ion-col>
            <ion-col col-4>
              <ion-label >الوزن</ion-label>
            </ion-col>
            <ion-col col-4>
              <ion-label >الماركه</ion-label>
            </ion-col>
              <ion-col col-4>
              <ion-label >اسم المنتج</ion-label>
            </ion-col>
            </ion-row >
            <ion-row  *ngFor="let detail of requestdetails " style="border-bottom:.5px solid #b3b3b3;" >
                <ion-col col-4>
                <ion-label>{{detail.total}}</ion-label>
                </ion-col>
                <ion-col col-4>
                  <ion-input type="number" placeholder="متاح" name="AvailableQuantity"  required  [(ngModel)]="Responsedetails.ItemsDetailsList.Available_Quantity"  onchange="calculateTotalprice(detail)"></ion-input>
                  </ion-col>
                  <ion-col col-4>
                    <ion-input type="number" name="Discount"  placeholder="خصم"  [(ngModel)]="Responsedetails.Discount" ></ion-input>
                  </ion-col>
                  <ion-col col-4>
                    <ion-input  type="number" name="price"  placeholder="السعر"  [(ngModel)]="Responsedetails.ItemsDetailsList.Price"></ion-input>
                    </ion-col>
                <ion-col col-4>
                  <ion-button shape="round" size="small">ok</ion-button>
                  </ion-col>
                  <ion-col col-4>
                    <ion-label >{{ detail.ReqOrderDetail_Quantity}}</ion-label>
                  </ion-col>
              <ion-col col-4>
              <ion-label >{{ detail.Item_Weight}}</ion-label>
            </ion-col>
            <ion-col col-4>
              <ion-label >{{ detail.Item_Brand}}</ion-label>
            </ion-col>
              <ion-col col-4>
              <ion-label >{{ detail.Item_Name}}</ion-label>
            </ion-col>
            </ion-row>
            <div style="text-align: center">
              <div style="text-align: center">{{Responsedetails.TotalPrice}}التكلفه الكليه: ج.م</div>
                <ion-button  size="" type="submit" expand="block"style="width: 190px; margin:10%; margin-left: 25%;font-size: 14px;--background: #88001b; color: honeydew; font-weight: bold; --border-radius: 30px"  >ارسال</ion-button>
            </div>
            </ion-grid>
            </form>
      </ion-card-content>
    </ion-card>
</ion-content>
