<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>My Cart</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-list>
      <ion-row style="border-bottom: groove;">
          <ion-col col-3>
          <ion-label >Name</ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label >Quentity</ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label >Image</ion-label>
        </ion-col>
        <ion-col col-3>
            <ion-label >price</ion-label>
          </ion-col>
        </ion-row>
    <ion-item *ngFor="let item of selectedItems" lines="inset">
      <!-- {{ item.count }} {{ item.name }} - {{ item.price | currency:'USD':'symbol' }}
      <img src="assets/{{item.img}}">
      <ion-label slot="end" text-right>{{ (item.price * item.count) | currency:'USD':'symbol' }}</ion-label> -->
      <ion-row style="border-bottom: groove;">
        <ion-col>
        <ion-label >{{ item.name }}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label ><ion-button shape="round" (click)="decreaseProductCount(item)">-</ion-button>
          {{ item.count}}<ion-button shape="round" (click)="incrementProductCount(item)">+</ion-button>
        </ion-label>
      </ion-col>
      <ion-col >
        <ion-label > <img src="assets/{{item.img}}"></ion-label>
      </ion-col>
        <ion-col>
        <ion-label >{{ item.price | currency:'USD':'symbol' }}</ion-label>
      </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      Total: <span slot="end">{{ total | currency:'USD':'symbol' }}</span>
    </ion-item>
  </ion-list>
</ion-content>